@charset "UTF-8";

#footer_container{
	background-color:#FABAC2;
	font-family : 'Noto Sans KR', sans-serif;
	font-size : 3px;
	margin: 50px auto;
}

#footer{
	display: flex;
	justify-content: space-around;
}
.term_footer{
	color:#CCCCCC;
}
.info_footer{
	text-align: center;
}
.logo_footer{
	width : 200px;
}
ul{
	list-style:none;
}