@charset "UTF-8";

#footer {
	height: 200px;
	font-family : 'Noto Sans KR', sans-serif;
	font-size : 12px;
	background-color: #F2F2F2;
	bottom: 0;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	padding: 40px 0;
}
#container_footer {
	width: 800px;
	margin: auto;
}
#info_footer {
	font-size: 16px;
	text-align: left;
	width: 320px;
	float: left;
	margin-bottom: 20px;
}
#info_footer button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	border-style: none;
	padding: 3px;
	width: 100px;
	height: 25px;
	background: #5E5E5E;
	color: white;
}
#info_footer button:hover {
	background: #FCF0F1;
	font-weight: bold;
	border-style: none;
	background: #F4ABAB;
}
#second_footer {
	display: flex;
	flex-wrap:wrap;
	align-content: stretch;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
}
#logo_footer {
	float: right;
}
#faq_footer {
	float: right;
}
#faq_footer a {
	margin-right: 20px;
	margin-top: 20px;
}
#faq_footer li {
	margin-top: 20px;
}
.fa {
	color: #8F8F8F;
}
.fa-instagram:hover::before{
	background: linear-gradient(45deg, #FFDE83, #FFB241, #FF732C, #FF5834, #FF3138, #F91966, #D72188, #8828C8, #473DE9, #2A4EFB);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fa-youtube-play:hover{
	color: red;
}
.fa-facebook:hover{
	color: #1674EA;
}
#third_footer li {
	float: left;
}
#third_footer {
	float: left;
	bottom: 0;
}
#link_footer {
	margin-bottom: 20px;
	height: 12px;
}
#detail_footer {
	height: auto;
}