@charset "UTF-8";
  
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #B3646B;
	cursor: pointer;
}
#header a:hover {
	color: #525252 !important;
}
li {
	list-style: none;
}
html, body {
	height: 100%;
	overflow-x: hidden;
}
#header {
	position: relative;
	z-index: 1;
}
#header input, select {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}
#header input:focus, #header select:focus {
	outline:none;
}
#header_navi {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
}
#header_navi_logo {
	float: left;
	height: 130px;
	flex: 2;
	text-align: center;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header_navi_logo img{
	cursor: pointer;
}
#header_navi_home img{
	width: 100%;
	cursor: pointer;
}
#header_navi_ul {
	flex: 4;
	margin-left: 50px;
}
#header_navi_ul li{
	float: left;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header_navi_home_log a {
	float: right;
	flex: 1;
	height: 20px;
	vertical-align: middle;
	margin-left: 30px;
	margin-right: 10px;
	text-align: right;
	line-height: 20px;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 13px;
}
#header_navi_home_log {
	position: relative;
}
.submenu {
	position: absolute;
	display: none;
	background: #E3E3E3;
	height: 200px;
	flex-direction: column;
	top: 25px;
    right: 0;
    height: auto;
    width: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}
.submenu li {
	padding: 3px;
}
.submenu li:hover {
	background:#F4D2D5;
	transition: ease 0.1s;
	color: white;
}
.submenu li a{
	margin: 0 !important;
}
#header_search {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-left: calc(-50vw + 50%);
	width: 100vw;
}
#location {
    border: 1px solid #ccc;
    vertical-align: top;
    height: 30px;
    width: 140px;
}
.checkIn, .checkOut {
	border: 1px solid #ccc;
	vertical-align: top;
	height: 30px;
	width: 130px;
}
#submit_button {
	width: 40px;
	height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	vertical-align: top;
}
#keyword {
	border: 1px solid #ccc;
	vertical-align: middle;
	height: 30px;
	width: 280px;
}