@charset "UTF-8";

nav{
	margin-bottom: 50px;
}
.index_search ul{
	padding: 0;
	display: flex;
	justify-content: space-around;
	
}
.index_search ul li{
	list-style: none;
	width: 100px;
}
.index_hotel_img{
	width: 250px;
	height: 250px;
}

.star_list_Table{
	display: flex;
	justify-content: space-around;
}
.low_list_Table{
	display: flex;
	justify-content: space-around;
}
.submit{
	

