@charset "UTF-8";

#container {
	width: 800px;
	margin: auto;
}
#content {
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	margin: 100px auto;
	align-content: center;
}

#title {
	margin-bottom: 50px;
	text-align: center;
}
.index_search input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	border: none;
	background: transparent;
	font-size: 16px;
	width: 80px;
	height: 50px;
}
#content_search {
	width: 800px;
	margin: auto;
}
.index_search ul {
	padding: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 20px;
	width: 800px;
}
.index_search ul li {
	width: 100px;
}
.Starlocation:hover,
.lowPricelocation:hover{
	cursor: pointer;
}
#starlocation-active {
	background: #FCF0F1;
}
#lowPricelocation-active {
	background: #D7D3D3;
}
.index_hotel_img {
	width: 250px;
	height: 250px;
}
.star_list_Table {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	width: 800px;
	margin: auto;
}
.star_list_Table_bg {
	margin-left: calc(-50vw + 50%);
	background: #FCF0F1;
	width: 100vw;
	height: 390px;
}

.low_list_Table{
	background: #D7D3D3;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	width: 800px;
	margin: auto;
}
.low_list_Table_bg {
	margin-left: calc(-50vw + 50%);
	background: #D7D3D3;
	width: 100vw;
	align-items: center;
	height: 387px;
}
.index_hotel_content {
	background: white;
}
.hotel_like {
	font-size: 15px;
	font-weight: bolder;
	padding-top: 5px;
	padding-left: 10px;
}
.hotel_star {
	font-size: 13px!important; 
	color: #F2D06B;
}
.hotel_review {
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}
.hotel_review_count {
	font-size: 10px!important;
}
.hotel_hashtag {
	padding-bottom: 5px; 
	font-size: 13px;
	color: #F24B59;
	padding-left: 10px;
}
.hotel_minprice {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-bottom: 5px;
	font-weight: bold; 
}
.prom_banner {
	height: 500px;
	position: relative;
	top: 0;
	margin-top: 100px;
	margin-bottom: 100px;
	height: 125px;
	text-align: center;
	cursor: pointer;
}
.hotel_like_check{
	cursor: pointer;
	padding-right: 10px;
}