@charset "UTF-8";

#container {
   width: 800px;
   margin: auto;
   font-family: 'Noto Sans KR', sans-serif;
}
#content {
   min-height: 100%;
   list-style: none;
   margin: 100px auto;
   align-content: center;
}
#user_coupon_content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 13px;
}
#user_coupon_table_title{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 25px;
}
#user_coupon_table{
	margin-top: 25px;
	width: 100%;
	
}
#user_coupon_row{
	display: flex;
	justify-content: space-around;
	border-bottom: thin solid#C3C3C3;
	flex-wrap:wrap;
	margin-bottom: 20px;
}

#user_coupon_row:nth-child(1){
	background-color: #F2F2F2;
	border-top: 1px solid black;
	
	
}
#user_coupon_col{
	align-items: center;	
	width: 20%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
#coupon_terms{
	background-color: #F2F2F2;;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: x-small;
}	



#coupon_terms ul{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 20px;
}	