@charset "UTF-8";

#modal_wrap {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
#myModal {
	display: none;
	width: 500px;
	height: auto;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
}
#myModal input:focus {
	outline:none;
}
#modal_content {
	margin: auto;
}
.modal_content_wrap {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#modal_content th {
	width: 260px!important;
	height: 35px!important;
	padding: 0!important;
	line-height: 35px;
}
#modal_content td {
	border-style: none!important;
}
#now_pwd, #new_pwd, #re_new_pwd {
	background: #F2F2F2;
	height: 30px!important;
}
.modal_btn_wrap {
	height: 50px;
}
#modal_btn_submit, #modal_btn_close {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	height: 50px;
	width: 100px;
	border-style: none;
	font-size: 13px;
	background: black;
	color: white;
	cursor: pointer;
}
