@charset "UTF-8";
#container {
	width: 800px;
	margin: 100px auto;
}

#content {
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	margin: 100px auto;
	align-content: center;
}

.board_list{
	margin: 0 auto;
	border: 1px solid red;
	border-radius: 5px;
	padding: 10px;
	width: 700px;
	height: 300px;
}
.board_list td,
.board_list th{
	border-bottom: 1px solid #fbc0bf;
	padding: 5px 10px;
}
.board_list th{
	text-align: left;
	height: 20px;
}
.board_list_content{
	vertical-align: top;
}
.board_list_content textarea,
#modify_board_list input[type=text]{
	width: 95%;
	height: 95%;
	border: 0;
	resize: none;
}
#reply_write{
	display: flex;
	justify-content: flex-start;
}
.board_list_content textarea:focus,
#modify_board_list input[type=text]:focus{
	outline: none;
}
#modify_board_list{
	display: none;
}
#reply_write_head{
	width: 100px;
}
#reply_write_body{
	width: 95%;
	height: 95%;
}
#reply_write_body textarea{
	border: 1px solid #fbc0bf;
	resize: none;
	width: 95%;
	height: 95%;
}
#reply_write_body textarea:focus{
	outline-color: #ec1c24;
}
#reply_write_btn input{
	widows: 95%;
	height: 95%;
	background-color: #fbc0bf;
	color: red;
	border: 1px solid red;
}
#reply_write_btn input:hover{
	background-color: white;
}
.board_btn{
	margin-top: 30px;
	text-align: center;
}