@charset "UTF-8";

#board_list{
	margin: 0 auto;
	border: 1px solid red;
	border-radius: 5px;
	padding: 10px;
}
#board_list td,
#board_list th{
	border-bottom: 1px solid #fbc0bf;
	padding: 5px 10px;
}
#board_list th{
	text-align: left;
}