@charset "UTF-8";
#container {
	width: 800px;
	margin: auto;
}
#container h2 {
	margin-top: 30px;
	text-align: center;
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
}
#content {
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	margin: auto;
	margin-bottom: 100px;
	align-content: center;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
#board_sidebar{
	display: flex;
	align-items: center;
	flex-direction: column;
}
#board_sidebar input{
	border: none;
	outline: none;
 	box-shadow: none;
 	width : 100px;
 	height: 35px;
 	margin-top: 30px;
	background-color: white;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	cursor: pointer;
}
#board_sidebar input:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
#board_main,
#faq_main{
	margin-top:30px;
	font-size : 13px;
}
#board_main{
	width: 100%;
	margin-left: 40px;
}
#board_list{
	width: 600px;
}
#none_board_list{
	margin: auto;
	font-size: 18px;
}
#board_list tr:nth-child(1){
	border-bottom : 1px solid #c0c0c0;
	background-color: #F2F2F2;
}

#board_list th, #board_list td{
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}
#board_list tr td:nth-child(2){
	text-align: left;
}
#board_list th{
	width: 100%;
	height: 100%;
}
#board_list td{
	text-align: center;	
	border-bottom : 1px solid #c0c0c0;
}
#board_navi{
	margin-top: 30px;
}
.board_navi_page{
	display: none;
	justify-content: center;
	padding: 0px;
}
.page_li{
	list-style: none;
	width: 20px;
	height: 20px;
	border: thin solid#C3C3C3;
	border-radius: 5px;
	margin: auto 10px;
	padding-bottom: 3px;
	cursor: pointer;
}
.page_one,
#page_li_now_site,
#page_li_now_hotel{
	cursor: default;
}
.page_li:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
	
}
.page_li:hover > a{
	color: #B3646B;
}
.page-link{
	vertical-align: middle;
	text-decoration: none;
}
#board_write_btn{
	position: relative;
}
#board_mycontent_btn{
	position: absolute;
	top: -2px;
	left: 29px;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: black;
	font-size: 11px;
	background-color: #F2F2F2;
	cursor: pointer;
}
#board_write_modal_btn{
	position: absolute;
	top: -2px;
	right: 32px;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: black;
	font-size: 11px;
	background-color: #F2F2F2;
	cursor: pointer;
}
#board_write_modal_btn:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
#board_write_modal_overlay{
	display: none;
	position: fixed;
	left: 30%;
	top: 150px;
	background-color: #fff;
	border: 0;
	border-radius: 10px;
	width: 750px;
	height: 360px;
	box-shadow: 5px 5px 5px 5px #c0c0c0;
	z-index: 2;
}
#board_write_modal_window{
	background-color: white;
	margin: 15px auto;
	width: 720px;
	height: 320px;
	border-radius: 5px;
	padding: 5px;
	padding-top: 10px;
}
#modal_head{
	margin-left: 20px;
	text-align: left;
}
#modal_head input{
	border: none;
	width: 500px;
}
#modal_head input:focus,
#modal_body textarea:focus{
	outline: none;
}
#modal_body textarea{
	padding: 10px;
}
#modal_body{
	margin-top: 10px;
}
#modal_head_x{
	position: absolute;
	top: 20px;
	right: 23px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#modal_body textarea{
	width: 95%;
	height: 95%;
	resize: none;
}
#modal_foot{
	margin-top: 10px;
}
#modal_foot input{
	width:18%;
	border: thin solid#C3C3C3;
	margin: auto 10px;
	padding-bottom: 3px;
	cursor: pointer;
}
#modal_foot input:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}	
#faq_main{
	display: none;
	width: 200px;
	flex-direction: column;
	margin: 30px 300px auto auto;
}
#faq_main button{
	cursor: pointer;
}
#faq_title{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
}
.faq_board_wrap{
	margin-top: 10px;
	margin-bottom: 10px;
}
.faq_board_cont{
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
}
.faq_cont{
	display: none;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 11px;
}
.faq_btn_total{
	width:115px;
	height:27px;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	font-size: 11px;
	background-color: white;
}
.faq_btn_total:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
.faq_btn_total_active{
	width:115px;
	height:27px;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	font-size: 11px;
	background-color: white;
}
.faq_btn_total_active:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
.faq_btn{
	border:none;
	border-bottom: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	font-size: 11px;
	background-color: white;
}
.faq_btn:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
.faq_btn_active{
	background-color: white;
	border:none;
	border-bottom: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	font-size: 11px;
}
.faq_btn_active:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
.faq_btn_total_active:after {
	content: "\2212";
}
.faq_btn_total:after {
	content: '\002B';
}
.faq_btn_active:after {
	content: "\2212";
}
.faq_btn:after {
	content: '\002B';
}