@charset "UTF-8";
html{
	overflow-x: hidden;
}

#container {
   width: 800px;
   margin: auto;
   font-family: 'Noto Sans KR', sans-serif;
}
#content {
   min-height: 100%;
   list-style: none;
   margin: 100px auto;
   align-content: center;
   text-align: center;
}
.promotion_font{
	font-weight:bold;
	font-size:10pt;
}


.promotion_title{
	margin-top: 50px;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 25px;
}
.promotion_image{
	margin: auto;
}

/* promotion_content.jsp */
#promotion_content_header{
  background-color: #F2F2F2;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100vw;
  margin-left: -10px;
  padding: 10px 20px 0px 20px;
  box-sizing: border-box;
}
#promotion_content{
  margin-top: 50px;
  margin-bottom: 50px;
}
/*coupon content 영역.  */
#promotion_content_title{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 25px;
	margin-top: 30px;
	text-align: center;
}
#promotion_content_container {
 	margin-top: 50px;
	text-align: center;
  	font-family: 'Noto Sans KR', sans-serif;
  	width: 100%;
}
#coupon_frame{
	display:flex;
	flex-direction:column;
	width : 50%;
	height: 50%;
	margin: 30px auto;
	justify-content: center;
	align-items: left;
}
#coupon_title{
	text-decoration: underline;	
	margin-bottom: 15px;	
}
#coupon_back_image{
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	background-image: url('../../image/coupon/coupon_frame3.jpg');
  	background-repeat: no-repeat;
  	background-size:cover;
  	width: 100%;
  	height: 191px;
  	font-size: 13px;
}
#coupon_content div{
	margin-bottom: 25px;
}
.coupon_sale{
	margin-bottom: 15px;
	width:100%;
}
.coupon_sale_font{
	font-weight: bold;
	font-size: 40px;
	margin-right: 10px;
	border:3px solid #5E5E5E;
	background-color: white;
	padding: 5px 8px 5px 8px;
}
#coupon_content{
	margin-bottom: 20px;
  	margin-right: 50px;
}
#promtion_content_footer{
	text-align: left;
	background-color: #F2F2F2;
	text-align: left;
	width: 100vw;
	margin-left: -10px;
	padding: 10px 20px;
	box-sizing: border-box;
	
}
#coupon_terms{
	width : auto;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: x-small;
}	
#coupon_terms ul{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 20px;
	list-style: none;
}	
#promtion_footer_term{
	width: auto;
}
#coup_result_area{
	background-color: #F2F2F2;
}
#coupon_button{
	border-radius: inherit;
	background-color: #5E5E5E;
	font-size: large;
	color: #F2F2F2;
	margin-bottom: 30px;
	padding: 3px 3px 3px 3px;
}
#coupon_button:hover{
	background-color: #F2F2F2;
	color : black;
}
