@charset "UTF-8";

#container{
	width: 800px;
	margin: auto;
	text-align: center;
}
#content{
	margin: 100px auto;
	display: flex;
}
#select_hotel{
	margin-bottom: 10px;
}
.insert_btn{
	box-sizing: border-box;
	height: 30px;
	width: 100px;
	border-style: none;
	font-size: 13px;
	background: black;
	color: white;
	cursor: pointer;
	margin: 10px auto;
}
#room_btn{
	display: none;
}
#hotel_sidebar ul{
	width: 100%;
}
#hotel_list_hotel,
#hotel_list_room{
	position: absolute;
	width: 250px;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
}
#hotel_list_hotel{
	left: 10px;
}
#hotel_list_hotel ul{
	text-align: center;
}
#hotel_open{
	left: 10px;
}
#room_open{
	right: 10px;
}
#hotel_open,
#room_open{
	position: absolute;
	background-color: black;
	color: white;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#hotel_x,
#room_x{
	position: absolute;
	right: 10px;
	top: 2px;
	cursor: pointer;
}
#hotel_list_room{
	right: 0
}
#hotel_content{
	width: 100%;
	min-height: 208px;
}
.result_tb{
	margin: auto;
	display: none;
}
.result_tb,
.result_tb tr,
.result_tb th,
.result_tb td{
	padding: 5px 10px;
	border: solid 1px #C3C3C3;
	border-collapse: collapse;
}
.result_tb th{
	padding-right: 20px;
	padding-bottom: 6px;
	width: 150px;
}
.result_tb td {
	height: 40px;
	width: 350px;
	padding: 5px;
	font-size: 16px;
	text-align: left;
}
.button_wrap {
	border-style: none;
}
.h_button {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 50px;
	width: 229px;
	border-style: none;
	float: left;
	font-size: 13px;
	background: black;
	color: white;
	cursor: pointer;
	margin: 18px;
}
.button{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 50px;
	width: 229px;
	border-style: none;
	font-size: 13px;
	background: black;
	color: white;
	cursor: pointer;
	margin: 10px 150px;
	text-align: center;
}