@charset "UTF-8";

#container{
	width: 800px;
	margin: 50px auto;
	text-align: center;
}
#content{
	margin: 100px auto;
	display: flex;
}

.insert_btn{
	margin-bottom: 10px;
}
#room_btn{
	display: none;
}
#hotel_sidebar ul{
	width: 100%;
}
#hotel_list_hotel,
#hotel_list_room{
	position: absolute;
	width: 250px;
	background-color: white;
	height: 400px;
	border: 1px solid black;
}
#hotel_list_hotel{
	left: 0;
}
#hotel_open{
	left: 10px;
}
#room_open{
	right: 10px;
}
#hotel_open,
#room_open{
	position: absolute;
	background-color: black;
	color: white;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
#hotel_x,
#room_x{
	position: absolute;
	right: 10px;
	top: 2px;
	cursor: pointer;
}
#hotel_list_room{
	right: 0
}
#hotel_content{
	width: 100%;
}
.result_tb{
	margin: auto;
	display: none;
}
.result_tb,
.result_tb tr,
.result_tb td,
.result_tb th{
	border: 1px solid black;
	border-collapse: collapse;
}
.result_tb th,
.result_tb td{
	padding: 5px 10px;
}