@charset "UTF-8";

#container{
	width: 800px;
	margin: 50px auto;
	text-align: center;
}
#content{
	margin: 100px auto;
}
#content h2{
	margin-bottom: 30px;
}
table{
	margin: auto;
}
table, tr, th, td{
	padding: 5px 10px;
	border: solid 1px #C3C3C3;
	border-collapse: collapse;
	text-align: left;
}
#button_div input{
	box-sizing: border-box;
	height: 50px;
	width: 100px;
	border-style: none;
	font-size: 13px;
	background: black;
	color: white;
	cursor: pointer;
	margin: 18px;
}