@charset "UTF-8";

#mapping_landmark_list{
	margin: 100px auto;
}
#container {
	width: 800px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}
#content h2 {
	font-size: 32px;
	text-align: center;
	font-weight: 600;
	margin: 100px 0 20px 0;
}
#mapping_landmark_list h2 {
	font-size: 32px;
	text-align: center;
	font-weight: 600;
	margin: 30px auto;
}
#landmark_location {
	font-size: 32px;
	font-weight: 900;
}
#entire_div {
	padding: 17px;
	display: flex;
}
#etc_div {
	display: flex;
	flex-direction: column;
	padding-left: 17px;
}
#landmark_img {
	width: 245px;
}
#landmark_name {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 600;
}
#landmark_addr {
	font-size: 12px;
	margin-bottom: 15px;
}
#landmark_info {
	font-size: 13px;
}
#goTop_btn {
	position: fixed;
	bottom: 20px;
	right: 40px;
	font-family: 'Noto Sans KR', sans-serif;
	border: none;
	border-radius: 16px;
	background: #B36075;
	color: white;
	padding: 12px;
	font-weight: bold;
	box-shadow: 0px 5px 15px gray;
	cursor: pointer;
}
