@charset "UTF-8";
#container {
	width: 800px;
	margin: auto;
}
#content {
	min-height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none;
	margin: 100px auto;
	align-content: center;
}

#hotel_info{
	display: flex;
	justify-content: flex-start;
}
#hotel_info_img{
	margin: 0px 50px;
}
#hotel_info_detail{
	width: 300px;
	margin-left: 50px;
}
#room_info{
	margin-top: 30px;
}
.room_content{
	display: flex;
	justify-content: flex-start;
	padding: 30px;
}
.room_content_img img:nth-child(n+2){
	display: none;
}
.room_content_img{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.room_content_img img{
	border-radius: 10px;
}
.next_img{
	font-size: 20px;
	color: #fbc0bf;
	margin: auto 0 auto 5px;
	font-weight: bold;
}
.room_content_info{
	margin-left: 30px;
	display: flex;
	justify-content: flex-start;
}
.room_reserv{
	margin-left: 50px;
}
.room_reserv input{
	height: 100%;
	color: #fbc0bf;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	border: 0;
}
.room_reserv input:hover{
	background-color: red;
}
.hotel_review_content{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 10px 20px;
}
.hotel_review_content div{
	margin-right: 20px;
}
.hotel_review_content_head{
	width: 150px;
}
.hotel_review_content_body{
	width: 350px;
}
.hotel_review_content_delete{
	float: right;
	clear: both;
}
#review_write{
	margin-top: 20px;
}
#review_write input,
#review_write textarea{
	resize: none;
	border: 0;
}
#review_write input:focus,
#review_write textarea:focus{
	outline: none;
}
#review_write_table,
#review_write_table tr,
#review_write_table th,
#review_write_table td{
	border: 1px solid red;
	border-collapse: collapse;
	padding: 5px 10px;
}
#review_wirte_btn{
	margin-top: 20px;
}
#visit_hotel{
	display: flex;
	justify-content: flex-start;
}
#visit_hotel_cont{
	padding: 10px;
	width: 200px;
}
#hotel_board{
	position: relative;
}
#write_overlay{
	display: none;
	position: absolute;
	left: 20%;
	top: -300px;
	background-color: white;
	width: 500px;
	height: 300px;
	border: 1px solid black;
	border-radius: 5px;
}
#write_window{
	margin: auto;
	margin-top: 5px;
	border: 1px solid black;
	width: 95%;
	height: 95%;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 5px;
}
#write_head_title input,
#write_body textarea{
	width: 95%;
	height: 90%;
	border: 0;
	font-style: italic;
	resize: none;
}
#write_head_title input:focus,
#write_body textarea:focus{
	outline: none;
}
#write_head_x{
	position: relative;
	right: -10px;
	cursor: pointer;
	width: 10px;
	height: 10px;
}
#write_body{
	margin-top: 20px;
	height: 180px;
}
#write_foot{
	text-align: right;
}
.hotel_like_check{
	cursor: pointer;
}