@charset "UTF-8";
#container {
   width: 800px;
   margin: auto;
}
#content {
   min-height: 100%;
   font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   margin: 50px auto;
   align-content: center;
   font-size: 14px;
   padding: 30px;
}
.hotel_FontHit{
	font-size: 13px;
	font-weight: bold;
}
#payment_hotel > div{
	margin-bottom: 50px;
	text-align: left;
}
#payment h1 {
	text-align: center;
	margin-bottom: 20px;
}
#cont_hotel_star {
	color: #F2D06B;
	font-size: 15px;
	vertical-align: 3px;
}
#payment_hotelwrap, 
#payment_hotel_userReq{
	display:flex;
	flex-direction: column;
	border: 3px solid #C7B1B1;
	border-radius: 8px;
	background: #FAF8F8;
}
#payment_hotel_userInfo{
	display:flex;
	flex-direction: row;
	border: none;
	border-radius: 8px;
	border: 3px solid #FB7673;
	background: #FADEDE;
	padding-top: 16px;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
#payment_hotel_date_people{
	margin: 0 16px;
	padding: 16px 0;
	display: flex;
	flex-direction: row;
}
#payment_hotel_date{
	border-right: 1px solid #DADFE6;
}
#payment_hotel_date_people div{
	padding-left: 10px;
    line-height: 30px;
    padding-right: 30px;
}
.checkInP, .checkOutP {
	text-align: center!important;
	margin: 0 5px;
	font-family: 'Noto Sans KR', sans-serif;
}
#payment_hotel_date_people input[type="number"]{
	height: 30px;
	border: 1px solid #ccc;
    vertical-align: top;
    width: 50px;
    margin: 0 5px;
    text-align: center;
}
#payment_hotelwrap_cont{
	display: flex;
	margin: 0 16px;
	padding: 16px 0;
	border-bottom: 1px dashed #DADFE6;
}
.userInfo_wrapper{
	margin: 0 8px;
	margin-bottom: 16px;
	width: 346px;
	height: 40px;
	padding: 0 8px;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	box-sizing: border-box;
}
.userInfo_wrapper:focus{
	border-color: #FB7673;
	outline: none;
}
.userPhone_head{
	position: absolute;
	top: 81px;
	left: 385px;
	border: none;
}
.userPhone_head:focus{
	outline: none;
}
#userPhone_body{
	padding-left: 61px;
}
#cont_hotel_name{
	font-size: 20px;
	margin-bottom: 16px;
}
#payment_hotel_cont{
	font-size: 14px;
}
#payment_hotel_cont li{
	margin-bottom: 10px;
}
#payment_hotel_img img{
	width: 135px;
	height: 135px;
	justify-content: center;
	margin-right: 16px;
}
#payment_hotel_userReq{
    padding: 16px;
    display: flex;
    justify-content: center;
}
#userReq_title{
	margin-bottom: 10px;
	padding-left: 5px;
}
#payment_hotel_userReq textarea{
	border: 0;
	resize: none;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 16px;
	border-radius: 4px;
}
#payment_hotel_userReq textarea:focus{
	outline: none;
}
#payment_hotel_promotion {
    padding: 16px;
    display: block;
    flex-direction: row;
    border: 3px solid #C7B1B1;
    border-radius: 8px;
    background: #FAF8F8;
}
#payment_hotel_promotion span{
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
}
#payment_hotel_promotion #prom_code_select{
	width: 120px;
    margin-right: 10px;
}
#payment_hotel_promotion #prom_code_btn{
	width: 100px;
}
#payment_hotel_promotion #coupon_name{
	color: red;
}
#payment_price{
	background-color: #CACCE0;
    color: black;
    display: flex;
    flex-direction: column;
    border: 3px solid #767994;
    border-radius: 8px;
    padding: 16px;
}
#payment_price table{
	padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}
#payment_price tr{
	height: 25px;
}
#payment_usercard{
	padding-left: 10px;
}
#payment_terms{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
#payment_terms input[type="checkbox"]{
	margin-right: 3px;
}
/*상단 본결제창 내용  */
.modal-overlay {
	width: 50%;
	height: 500px;
	position: absolute;
	left: 25%;
	top: 0px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
	backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 5;
}
.modal-window {
	display: none;
	background: white;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 85%;
	height: 85%;
	position: relative;
	top: 0px;
	padding: 10px;
}
.modal-title {
	padding-left: 10px;
	display: inline;
	text-shadow: 1px 1px 2px gray;
	color: black;
}
.modal-title h2 {
	display: inline;
}
.close-area {
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: black;
}
.modal-content {
	margin-top: 20px;
	padding: 0px 10px;
	text-shadow: 1px 1px 2px gray;
	color: black;
	height: 320px;
	overflow: auto;
}
.modal_content_inp{
	width: 30px;
}
#payment_submit{
	text-align: center;
}
.payment_submit_button{
	margin-top : 50px;
	background-color: white;
	border: thin solid#C3C3C3;
	padding: 5px 10px 5px 10px;
	color: #8F8F8F;
	width: 200px;
	height: 50px;
}
.payment_submit_button:hover{
	border: thin solid#5E5E5E;
	color: #5E5E5E;
}
.modal-footer{
	margin-top: 20px;
	text-align: center;
}