@charset "UTF-8";

#container{
	width: 800px;
	margin: 50px auto;
	text-align: center;
}
#content{
	margin: 100px auto;
	width: 600px;
}
.board_list{
	margin: auto;
}
.board_list,
.board_list tr, 
.board_list td,
.board_list th{
	border: 1px solid black;
	border-collapse: collapse;
}
#reply{
	margin-top: 50px;
	padding: 10px;
}
#cont{
	width: 95%;
	height: 200px;
	resize: none;
}
#reply_title{
	text-align: left;
	margin-bottom: 10px;
}
#reply_foot{
	margin-top: 20px;
}