@charset "UTF-8";

#container{
	width: 800px;
	margin: auto;
	text-align: center;
}
#content{
	margin: 100px auto;
	width: 600px;
	min-height: 100%;
}
#content_main{
	text-align: left;
}
#select_hotel{
	margin: 20px 0;
}
#content_main table{
	margin: auto;
	width: 100%;
	text-align: center;
}
#content_main table,
#content_main tr,
#content_main td,
#content_main th{
	border-spacing: 2px;
}
#content_main td, 
#content_main th{
	padding: 5px 10px;
}
#result{
	width: 600px;
}
#result tr:nth-child(1){
	border-bottom : 1px solid #c0c0c0;
	background-color: #F2F2F2;
}
#result th, #result td{
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}
#result tr td:nth-child(2){
	text-align: left;
}
#result th{
	width: 100%;
	height: 100%;
}
#result td{
	text-align: center;	
	border-bottom : 1px solid #c0c0c0;
}
#content_main td:nth-child(2){
	text-align: left;
}
