@charset "UTF-8";

#container{
	width: 800px;
	margin: 50px auto;
	text-align: center;
}
#content{
	margin: 100px auto;
	width: 600px;
}
#content table,
#content tr,
#content td,
#content th{
	border: 1px solid black;
}
#answer{
	margin-top: 20px;
}