@charset "UTF-8";

#container {
   width: 800px;
   margin: 100px auto;
}
#content {
   min-height: 100%;
   font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   margin: 100px auto;
   align-content: center;
   text-align: center;
}
#apply_tb{
	width: 400px;
	height: 300px;
	margin: 50px auto;
}
#apply_tb, 
#apply_tb tr,
#apply_tb th,
#apply_tb td{
	border: 0;
	border-collapse: collapse;
}
#apply_tb th,
#apply_tb td{
	padding: 5px 10px;
}
#apply_tb input,
#apply_tb textarea{
	border: 0;
	width: 95%;
	height: 95%;
	resize: none;
	padding: 5px;
	box-sizing: border-box;
	outline: none;
	border-bottom: 1px solid #C3C3C3;
	font-size: 20px;
}
#apply_tb textarea{
	font-size: 14px;
}
#apply_tb input:hover,
#apply_tb textarea:hover{
	background-color: #FCF0F1;
	border-bottom-color: #CC8F8F;
}
#apply_tb textarea::placeholder{
	color: #737373;
	font-size: 13px;
}
#apply_info{
	margin: 50px auto;	
}
#apply_btn input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	border-style: none;
	padding: 3px;
	width: 100px;
	height: 25px;
	background: #5E5E5E;
	color: white;
}
#apply_btn input:hover {
	background: #FCF0F1;
	font-weight: bold;
	border-style: none;
	background: #F4ABAB;
	cursor: pointer;
}