@charset "UTF-8";
#container {
   width: 800px;
   margin: 100px auto;
}
#content {
   min-height: 100%;
   font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   margin: 100px auto;
   align-content: center;
}

#content input:focus {
	outline:none;
}
#login_main_inp {
	margin-bottom: 30px;
}
#login_main_inp input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	height: 40px;
	width: 300px;
	margin-bottom: 10px;
	padding: 5px;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #C3C3C3;
}
#login_main_inp input:hover {
	background: #FCF0F1;
	border-bottom-color: #CC8F8F;
}
#login_main_btn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}
#login_main_btn input {
	margin-bottom: 10px;
	height: 40px;
	width: 300px;
	border-style: none;
	cursor: pointer;
}
#login_btn {
	background: #F7D9DA;
}
#join_btn {
	background: #000000;
	color: white;
}
#login_title {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 25px;
}
#login_main{
	margin: 0 auto;
}
#login_main_wrap{
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	width: 300px;
	text-align: center;
}
#login_main_a{
	display:flex;
	justify-content: space-between;
	font-size: 12px;
}