@charset "UTF-8";

#container {
   width: 800px;
   margin: 100px auto;
}

#content {
   min-height: 100%;
   font-family: 'Noto Sans KR', sans-serif;
   list-style: none;
   margin: auto;
   margin-top: 100px;
   margin-bottom: 100px;
   align-content: center;
}

#content input:focus {
	outline:none;
}

#login_main_inp {
	margin-bottom: 30px;
}

#login_main_inp input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	height: 40px;
	width: 300px;
	margin-bottom: 10px;
	padding: 5px;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #C3C3C3;
}

#login_main_inp input:hover {
	background: #FCF0F1;
	border-bottom-color: #CC8F8F;
}

#login_main_btn {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
}

#login_main_btn input {
	margin-bottom: 10px;
	height: 40px;
	width: 300px;
	border-style: none;
}

#login_btn {
	background: #F7D9DA;
}

#join_btn {
	background: #000000;
	color: white;
}

#login_title {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 25px;
}

#login_main{
	margin: 0 auto;
}

#login_main_wrap{
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	width: 300px;
	text-align: center;
}

#login_main_a{
	display:flex;
	justify-content: space-between;
	font-size: 12px;
}

#login_modal{
	display: none;
	position: absolute;
	top: 60%;
	left: 30%;
	width: 300px;
	height: 400px;
}

.modal_window_title{
	border-bottom: 1px solid black;
	background-color: #c0c0c0;
}

#id_search_modal,
#pwd_search_modal{
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid black;
	width: 270px;
	height: 370px;
	margin: auto;
}

.modal_window_x{
	position: absolute;
	right: 23px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.modal_window_body{
	margin-top: 100px;
}

.modal_window_footer{
	margin-top: 50px;
}

.id_check_result,
.pwd_check_result{
	display: none;
}